html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    background-color: hsl(0, 0%, 100%);
    color: hsl(241, 100%, 89%);
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}


.page-wrapper {
    margin: auto;
    display: flex;
    text-align: center;
    width: 50vw;
}

main {
    background-color: hsl(252, 100%, 67%);
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 20px;
}

nav {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    width: 300px;
}

.result {
    margin: 25px;
}

.score-main {
    height: 150px;
    width: 150px;
    align-self: center;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    color: hsl(0, 0%, 100%);
}

.score-main p:nth-child(1) {
    font-size: 3.2rem;
    font-weight: 800;
    margin-top: 35px;
}

.score-main p:nth-child(2) {
    font-size: 0.8rem;
    margin: -70px;
    color: hsl(241, 100%, 89%);
}


.score-word {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 20px 0 10px 0;
    color: hsl(0, 0%, 100%);
}

.score-description {
    font-size: 0.8rem;
    font-weight: 500;
    margin: 15px 50px 50px 50px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}